div{
    width: 200px;
    height: 200px;
    display: inline-block;
}

.top{
    
    background-color: red;
    position: relative;
    top: 50px;
    left:50px
}

.middle{
    background-color: blue;
    position: relative;
    right: 205px;

}

.bottom{
    
    background-color:yellow;
    position: relative;
    right: 205px;


}